@using Commom.models.Usuarios
@using JustoFront.Services
@inject IUsuarioService UsuarioService
@inject IJSRuntime JSRuntime
@inject NavigationManager Navigation

@code {
    [Parameter]
    public bool ModalVisivel { get; set; }

    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    [Parameter]
    public UsuarioComRole UsuarioModal { get; set; }

    private void CloseModal()
    {
        ModalVisivel = false;
        OnClose.InvokeAsync(ModalVisivel);
    }

    private List<string> Roles { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Roles = await UsuarioService.GetRolesAsync();
    }


    private async Task SalvarModal()
    {
        // Enviar os dados do usuário para a API de UpdateUser
        var response = await UsuarioService.UpdateUserAsync(UsuarioModal);

        if (response.IsSuccessStatusCode)
        {
            await JSRuntime.InvokeVoidAsync("alert", "Usuário atualizado com sucesso.");
            await InvokeAsync(StateHasChanged);
            CloseModal();
        }
        else
        {
            var errorContent = await response.Content.ReadAsStringAsync();
            await JSRuntime.InvokeVoidAsync("alert", $"Erro ao atualizar usuário: {errorContent}");
        }
        Roles = await UsuarioService.GetRolesAsync();
        await InvokeAsync(StateHasChanged);
        Navigation.NavigateTo("/Painel");
    }

}

@if (ModalVisivel)
{
    <div class="modal show" tabindex="-1" role="dialog" style="display:block">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Detalhes do Usuário</h5>
                    <button type="button" class="close" aria-label="Close" @onclick="CloseModal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @if (UsuarioModal != null)
                    {
                        <EditForm Model="UsuarioModal">
                            <div class="row g-3 align-items-center">
                                <div class="col-auto">
                                    <label for="inputPassword6" class="col-form-label">Usuário:</label>
                                </div>
                                <div class="col-auto">
                                    <InputText class="form-control" @bind-Value="UsuarioModal.UserName" />
                                </div>
                            </div>
                            <div class="row g-3 align-items-center mt-1" >
                                <div class="col-auto">
                                    <label for="Email" class="col-form-label">Email:</label>
                                </div>
                                <div class="col-auto">
                                    <InputText class="form-control" @bind-Value="UsuarioModal.Email" />
                                </div>
                            </div>
                            <div class="row g-3 align-items-center mt-1">
                                <div class="col-auto">
                                    <label for="Cpf" class="col-form-label">CPF:</label>
                                </div>
                                <div class="col-auto">
                                    <InputText class="form-control" @bind-Value="UsuarioModal.CPF" />
                                </div>
                            </div>
                            <div class="row g-3 align-items-center mt-1">
                                <div class="col-auto">
                                    <label for="Perfis" class="col-form-label">Perfis:</label>
                                </div>
                                <div class="col-auto">
                                    <InputSelect class="form-control" @bind-Value="UsuarioModal.RoleSelecionado">
                                        <option disabled selected value="">Selecione um perfil</option>
                                        @foreach (var role in Roles)
                                        {
                                            <option value="@role">@role</option>
                                        }
                                    </InputSelect>
                                </div>
                            </div>
                        </EditForm>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="SalvarModal">Salvar</button>
                    <button type="button" class="btn btn-secondary" @onclick="CloseModal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
}

<style>
    .modal {
        display: none;
        position: fixed;
        z-index: 1050;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        outline: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .modal-dialog {
        position: relative;
        margin: auto;
        width: 80%;
        max-width: 500px;
        margin-top: 10%;
    }

    .modal-content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 0.3rem;
        outline: 0;
    }

    .modal-header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 1rem;
        border-bottom: 1px solid #dee2e6;
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;
    }

    .modal-body {
        position: relative;
        flex: 1 1 auto;
        padding: 1rem;
    }

    .modal-footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 1rem;
        border-top: 1px solid #dee2e6;
    }
</style>
