@using Commom.models.Advogados
@using Commom.models.Usuarios
@using JustoFront.Services
@using JustoFront.Services.Interface
@inject IAdvogadoService AdvogadoService
@inject IJSRuntime JSRuntime
@inject NavigationManager Navigation

@if (ModalVisivel)
{
    <div class="modal show" tabindex="-1" role="dialog" style="display:block">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Adicionar Advogado</h5>
                    <button type="button" class="close" aria-label="Close" @onclick="CloseModal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @if (AdvogadoModal != null)
                    {
                        <EditForm Model="AdvogadoModal" OnValidSubmit="SalvarModal">
                            <DataAnnotationsValidator />
                            <div class="row g-3 align-items-center">
                                <div class="col-12">
                                    <label for="inputUserName" class="col-form-label">Nome:</label>
                                    <InputText class="form-control" @bind-Value="AdvogadoModal.Nome" id="inputUserName" />
                                    <ValidationMessage For="@(() => AdvogadoModal.Nome)" />
                                </div>
                                <div class="col-12 mt-2">
                                    <label for="inputEmail" class="col-form-label">Cpf:</label>
                                    <InputText class="form-control" @bind-Value="AdvogadoModal.Cpf" id="inputEmail" />
                                    <ValidationMessage For="@(() => AdvogadoModal.Cpf)" />
                                </div>
                                <div class="col-12 mt-2">
                                    <label for="inputCpf" class="col-form-label">Oab:</label>
                                    <InputText class="form-control" @bind-Value="AdvogadoModal.Oab" id="inputCpf" />
                                    <ValidationMessage For="@(() => AdvogadoModal.Oab)" />
                                </div>
                            </div>
                            <div class="col-12 mt-2" style="text-align-last: right;">
                                <button type="submit" class="btn btn-secondary">Salvar</button>
                                <button type="button" class="btn btn-secondary" @onclick="CloseModal">Fechar</button>
                            </div>
                        </EditForm>
                        <CarregarTransicao Mensagem="" Redireciona="false" MostraComponente="MostraComponenteAdd" />
                    }
                </div>
            </div>
        </div>
    </div>
}
@code {

    private bool MostraComponenteAdd = false;
    [Parameter]
    public bool ModalVisivel { get; set; }

    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    public AdvogadoDTO AdvogadoModal { get; set; } = new();

    private void CloseModal()
    {
        ModalVisivel = false;
        OnClose.InvokeAsync(ModalVisivel);
    } 


    private async Task SalvarModal()
    {
        MostraComponenteAdd = true;

        try
        {
            var mensagemsucesso = "Advogado criado com sucesso.";
            //var response = await Adv.CreateUsuarioAsync(UsuarioModal);
            await JSRuntime.InvokeVoidAsync("alert", mensagemsucesso);
            MostraComponenteAdd = false;
            CloseModal();
            Navigation.NavigateTo("/");
            Navigation.NavigateTo("/Advogados/index");

        }
        catch (Exception ex)
        {
            string mensagemErro = "Erro ao criar Advogado.";
            await JSRuntime.InvokeVoidAsync("alert", mensagemErro);
            MostraComponenteAdd = false;
            Navigation.NavigateTo("/");
            Navigation.NavigateTo("/Advogados/index");
        }
    }
}