@if(Exibir)
{
    <div class="alert alert-danger mt-4" role="alertdialog" style="border-radius: 15px;">
        @ChildContent
    </div>
}
@code {
    [Parameter]
    public bool Exibir { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
