@inject NavigationManager navigate


@if(Redireciona)
{
    Aguarda();

}
@if (MostraComponente == true)
{
    <span class="loading-message">@Mensagem</span>
    <div class="spinner-overlay">
        <div class="spinner-border text-primary" role="status"></div>
    </div>

}

@code {
    [Parameter]
    public string? Mensagem { get; set; } = "";

    [Parameter]
    public bool Redireciona { get; set; } = false;

    [Parameter]
    public bool? MostraComponente { get; set; } = false;



    public async Task Aguarda()
    {
        Task.Delay(1000);
        //navigate.NavigateTo("");
    }

}