@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>
    <Authorized>
        @if (context.User.Identity != null && context.User.Identity.IsAuthenticated)
        {
            <div class="mt-0">Olá, @context.User.FindFirst("email")?.Value!</div>
            <a href="Logout" class="nav-link btn btn-link" style="color: white;">Sair</a>
        }
    </Authorized>
    <NotAuthorized>
        <a href="Register" class="nav-link btn btn-link">Registro</a>
        <a href="Login" class="nav-link btn btn-link">Login</a>
    </NotAuthorized>
</AuthorizeView>
