@* @attribute [Authorize] *@

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">JustoFront</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Index" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <Microsoft.AspNetCore.Components.Authorization.AuthorizeView  Roles="Admin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="backup">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> BACKUP
                </NavLink>
            </div>
        </Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="advogados/index">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Advogados
            </NavLink>
        </div>
@*         <AuthorizeView Roles="Admin"> *@
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Usuarios/index">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Painel Usuários
                </NavLink>
            </div>
@*         </AuthorizeView> *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Processos/Index">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Processos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Site/Index">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Contato Do Site
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/testetabela">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Teste MudBlazor
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
